<h2 class="page-header">Restore Account</h2>
<form method="post" action="/users/changepass">
  <div class="form-group">
    <label>Your old password</label>
    <input type="password" class="form-control" placeholder="Old Password" name="opassword">
  </div>
    <div class="form-group">
    <label>New password</label>
    <input type="password" class="form-control" placeholder="New Password" name="password">
  </div>
  <div class="form-group">
    <label>Confirm new password</label>
    <input type="password" class="form-control" placeholder="New password" name="password2">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
