<div class="page-header">
        <h2 >Profile</h2>
        <p >Welcome to your profile</p>
</div>
  <div class="form-group">
    <label style="font-size: 21px;">First name</label>
    <p name="fname">{{fname}}</p>
    <label style="font-size: 21px;">Last name</label>
    <p name="lname">{{lname}}</p>
    <label style="font-size: 21px;">Username</label>
    <p name="username">{{username}}</p>
    <label style="font-size: 21px;">Email</label>
    <p name="email">{{email}}</p>
    <label style="font-size: 21px;">Confirm</label>
    <p name="confirmation">{{confirm}}</p>
  </div>