<h2 class="page-header">Restore Account</h2>
<form method="post" action="/users/recover">
  <div class="form-group">
    <label>Your email</label>
    <input type="text" class="form-control" name="email" placeholder="Your email">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
