<h2 class="page-header">Register</h2>
<style>background: url(layouts/plane.jpg);!important</style> 
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/users/register">
    <div class="row">
        <div class="col-lg-6"><div class="form-group"><label>First Name</label><input type="text" class="form-control" placeholder="First Name" name="fname"></div></div>
        <div class="col-lg-6"><div class="form-group"><label>Last Name</label><input type="text" class="form-control" placeholder="Last Name" name="lname"></div></div>
    </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>